main {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: var(--s3);
}

h1 {
  font-size: var(--s4);
  margin-bottom: var(--s2);
}

@media (max-width: 768px) {
  main {
    padding: var(--s1);
  }
} 